<app-header></app-header>
    <!-- <h1>Login</h1>
    <div>
        <p>User Name: <input type="text" id="name" [(ngModel)]="username"></p>
    </div>

    <div>
        <p>Password: &nbsp;&nbsp;&nbsp;<input type="password" id="password" [(ngModel)]="password"></p>
        <div *ngIf="isInValid" class="alert alert-warning">InvalidCredentials</div>
    </div>

    <div>UserName: <span>{{username}}</span></div>
    <div><input type="submit" value="Login" (click)="whenClick()" class="btn btn-success"/></div> -->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">

        <!-- Login Form -->
        <div class="content">
            <div *ngIf="isInValid" class="alert alert-warning">InvalidCredentials</div>
            <input type="text" id="username" class="fadeIn second" name="login" placeholder="login" [(ngModel)]="username">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="password">
            <input type="submit" class="fadeIn fourth" value="Log In" (click)="whenClick()">
        </div>
    </div>
</div>
